<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automation Test Suite" verbose="1" parallel="false">
    
    <listeners>
        <listener class-name="utils.ExtentManager"/>
    </listeners>

    <test name="User Registration and Login Tests">
        <classes>
           <class name="tests.RegistrationTest"/>
            <class name="tests.LoginTest"/>
        </classes>
    </test>

</suite>
